* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}
.game-title {
  text-align: center;
  margin: 1rem;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 24rem;
  margin: 0 auto;
}
.cell {
  width: 8rem;
  height: 8rem;
  border: 1px solid black;
  box-shadow: 0 0 0 1px;
  cursor: pointer;
}